<html>
    <head>
        <title> Dauka's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Dauka's blog</a></h1>
        </div>
        <div>
            <p>Published at 05.11.2020 01:11 AM</p>
            <h2><a href="">My first post</a></h2>
            <p>vgupnegvp;oewirhvptbrn;sorhbiebf  gp er hgpirehga yuv</p>
        </div>
        <div>
            <p>Published at 05.11.2020 01:11 AM</p>
            <h2><a href="">My second post</a></h2>
            <p>vgupnegvp;oewirhvptbrn;sorhbiebf  gp er hgpirehga yuv</p>
        </div>

    </body>
</html>